/* Global */
fieldset {
  padding-bottom: 30px;
}

output {
  font-size: 20px;
  font-weight: bold;
}

.money {
  width: 110px;
}

.control-label {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.situacaoPessoal > fieldset > div > div > select {
  width: 220px;
}

.rendimentos > fieldset > div > div > select {
  width: 100px;
}

/***** Hiding fields *****/
.despesasCatB, .despesasCatF {
  display: none;
}

/***** Hiding arrows in number fields *****/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/***** Header *****/
.jumbotron {
  background-color: #3f5893;
}

.jumbotron > h1 {
  color: #ffffff;
  font-weight: normal;
  text-align: center;
  /*text-shadow:5px 0px 0 rgba(60,60,60,0.8);*/
  font-family: 'Rubik', sans-serif;
}

/***** Footer *****/
footer {
  padding-bottom: 70px;
  background-color: #3f5893;
}

.social a {
  padding: 0.5em;
  color: #ffffff;
}

.nav a {
  color: #ffffff;
  font-weight: bold;
}

.footer-link {
  padding-bottom: 10px;
}

.row {
  padding-top: 30px;
  padding-bottom: 10px;
}

.fa {
  padding-left: 10px;
  padding-right: 10px;
}

.fa:hover {
  color: #3f5893;
  background-color: #ffffff;
  border-radius: 5px;
}
