body {
  padding: 30px;
}

.despesasCatB, .despesasCatF {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.social a {
  padding: 0 .5em;
}
